/* Primary */
/* Netural */
/* Mobile First */
body {
  background-image: url(../images/bg-mobile.png);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  margin-right: 1.5rem;
}

.fylo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: hsl(228, 56%, 26%);
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  border-radius: 10px 40% 10px 10px;
  margin-bottom: 2rem;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: flex-start;
  margin-left: 1rem;
}

.fylo-logo {
  width: 100%;
  height: auto;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.document-icon-container {
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
}

.document-icon {
  width: 100%;
  height: auto;
}

.folder-icon-container {
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
}

.folder-icon {
  width: 100%;
  height: auto;
}

.upload-icon-container {
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
}

.upload-icon {
  width: 100%;
  height: auto;
}

.storage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background: hsl(228, 56%, 26%);
  border-radius: 10px;
  width: 90%;
  height: auto;
  max-width: 400px;
  text-align: center;
  min-height: 200px;
}

.storage-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  background-color: white;
  width: 100%;
  height: auto;
  min-height: 100px;
  max-width: 250px;
  border-radius: 15px;
}

.storage-left span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Dekstop Styles */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    margin-right: 1.5rem;
  }
  .fylo-container {
    margin-right: 1rem;
  }
  .storage-container {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .storage-container {
    position: relative; /* Add this line */
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .storage-left {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
    top: -5rem;
    right: 5rem;
  }
  .storage-left::before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: -20px;
    right: -25px;
    border-bottom: 20px solid white; /* Change this line */
    border-right: 40px solid transparent;
  }
}/*# sourceMappingURL=layout.css.map */